/* Selectorn{

} */

*{
    text-align: right;
}


body{
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fget.wallhere.com%2Fphoto%2Ftrees-green-fog-forest-Shroud-top-view-1199881.jpg&f=1&nofb=1&ipt=472e73432e8a4de3ae846d3dbcdc450a93e5103a78be5abd60e86a1655dfbcf9&ipo=images);
    background-repeat: no-repeat;
    
}


h2, p{
    color: rgb(0, 0, 0);
    text-align: center;
    border: 3px dashed rgb(0, 0, 0);
    cursor: pointer;
}
section{
    background-color: blanchedalmond;
}

.protest-revolution-regular {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

li{
    list-style: none;
    display: inline-block;
}